/* header */

html {
  width: 100%;
}

html body {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#plantyHeader {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#logoPlanty {
  display: flex;
  width: 201px;
  height: 19px;
  margin-left: 37px;
}

.menu-item {
  width: 236px;
  height: 80px;
  text-align: center;
  align-content: center;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.menu-item-78 {
  width: 236px;
  height: 80px;
  font-family: "Syne";
  font-weight: 700;
  background-color: #dc9f96;
  border-radius: 0%;
}

.menu-item-78:hover {
  background-color: #c02e44;
}

.menu-item-78 a:hover {
  color: #ffffff;
}

.menu-item-78 a {
  color: #ffffff;
  font-family: "Syne";
  font-weight: 700;
}

/* footer */

.footerPerso {
  display: flex;
  max-width: 1440px;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* page accueil */

#canette {
  position: absolute;
  margin: auto;
}

.vignetteArome .vignette-titre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 393px;
  height: 262px;
}

.vignetteArome .vignette-titre h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Syne";
  font-size: 48px;
  font-weight: 800;
}

@media (max-width: 1024px) {
  #plantyHeader {
    flex-direction: column;
    height: 200px;
  }

  #logoPlanty {
  display: flex;
  width: 402px;
  height: 38px;
  margin: auto;
 } 

  .menu-item {
  width: 150px;
  margin: 0 5px;
  }

}

@media (max-width: 435px) {
  .vignetteArome .vignette-titre {
    width: 275px;
    height: 183px;
  }

  .vignetteArome .vignette-titre h2 {
    font-size: 30px;
  }
}
